.header{
  position: relative;
  z-index: 1;
  background: white;
  padding: 20px 0;
  .headerBar{
    height: 64px;
    width: 100%;
    .gutter-row{
      line-height: 64px;
    }
    .logoBox{
      padding-left: 40px;
    }
    .logo{
      width: 150px;
      height: 40px;
      vertical-align: middle;
    }
  }
}
.ant-dropdown .ant-dropdown-arrow:before{
  background: black;
}
.ant-input-group-wrapper{
  vertical-align: middle;
}
